<div class="right-column" style="float: right; width: 20%; color: #1a53ff; text-align: center;background-color:white ;">
        <% Ad.all.each do |ad| %>
          <% if ad.ads_images.attached? %>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% ad.ads_images.each_with_index do |pic,i| %>  
                    <div class="carousel-item <%= "active" if i == 0 %>">           
                      <% if pic.content_type.include?("image") %>   
                        <%= image_tag pic, :width => 440, :height => 200, style:"margin-left: 10px;" %>
                      <%else%>
                        <%= video_tag rails_blob_path(pic) ,autoplay: true, muted: 'muted', loop: :loop, :width => 350, :height => 200, style:"margin-left: 10px;", controls: true %>
                      <%end%>
                    </div>
                  <%end%>
                </div>   
              <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> 
          <% end%>
          <%= (ad.details).html_safe %><br> <br> <br>
        <%end%>
      </div>

    