<html>
	<body>
	  <%= image_tag attachments['Default_Tweet_Button.png'].url %>
	  <h1><%= @follower.name %> Started following you</h1>
	  <p> Your total number of followers  : <%= @followee.followers.count%>
	</body>
</html>