<html>
	<body>
	  <%= image_tag attachments['Default_Tweet_Button.png'].url %>
	  <h1>  <%= @tweet.user.name %> , You received a new like from , <%= @user.name %></h1>
	  <p> Total number of likes on your tweet: <%= @tweet.likes.count%> </p> 
	</body>
</html>