// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "font-awesome";

@import 'quill.snow';
@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';



// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.user_tweeet {
	margin-left: 1px !important;
}

.nav-link{
	text-decoration: none !important;
}

.btn{
	background-color: none !important;
}

.linkst{
	margin-left: 20%; 
}

.buttonClass {
	background: transparent !important;
	color: #1a53ff !important;
	background-color: #1a53ff;
	margin-top: 1% !important;
	margin-right: 15% !important;
	margin-left: 2% !important;
	padding: 0%;
}

i.fa{
	background: transparent !important;
	height: 10px !important;
	width: 10px !important;
	margin-right: 10px !important;
}
a.btn{
	text-decoration: none;
}


.likebtn{
	margin-top: 5px !important;
}

#user_bluetick_input {
  padding: 10px !important;
}